iframe {
    width: 100%;
    min-width: 310px;
    height: 450px;
    margin: 0 auto;
}

p {
    font-family: cursive;
    font-size: 28px;
}

.btn-default, .btn-info {
    margin-left: 30px;
    margin-top: 15px;
}

.info {
	padding-left: 25px;
}